<footer class="footer-links">
  <div class="d-flex justify-content-center">
    <a href="#" class="social" aria-label="facebook"><i class="fab fa-facebook-f"></i></a>
    <a href="#" class="social" aria-label="twitter"><i class="fab fa-twitter"></i></a>
    <a href="#" class="social" aria-label="insta"><i class="fab fa-instagram"></i></a>
    <a href="#" class="social" aria-label="linkedin"><i class="fab fa-linkedin-in"></i></a>
    <a href="#" class="social" aria-label="youtube"><i class="fab fa-youtube"></i></a>
    <a href="#" class="social" aria-label="burn"><i class="fas fa-music"></i></a>
  </div>
  <div class="mt-4">
    <small>© National University of Singapore. All Right Reserved.</small>
  </div>
</footer>
