@font-face {
  font-family: "FontAwesome";
  src: url("./../fonts/la-regular-400.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesome";
  src: url("./../fonts/la-solid-400.ttf");
  font-weight: 900;
  font-style: normal;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #0e2a58;
}

#main-container {
  height: 100%;
}

.overlay {
  content: " ";
  top: 0;
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(11, 46, 88, 0.6);
}

svg {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -2;
}

.cls-15,
.cls-16,
.cls-17,
.cls-22,
.cls-23,
.cls-24,
.cls-18 {
  stroke-dasharray: 800;
  stroke-dashoffset: 810;
  -webkit-animation: dash 10s infinite alternate;
          animation: dash 10s infinite alternate;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.cls-19,
.cls-20,
.cls-21,
.cls-20,
.cls-21,
.cls-22,
.cls-23,
.cls-24,
.cls-25,
.cls-26 {
  stroke-dasharray: 800;
  stroke-dashoffset: 810;
  -webkit-animation: dash 10s infinite alternate;
          animation: dash 10s infinite alternate;
}

.cls-10,
.cls-11,
.cls-8,
.cls-9,
.cls-12,
.cls-13,
.cls-14 {
  stroke-dasharray: 800;
  stroke-dashoffset: 810;
  -webkit-animation: dash 15s infinite alternate;
          animation: dash 15s infinite alternate;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-25,
.cls-26 {
  stroke-dasharray: 800;
  stroke-dashoffset: 810;
  -webkit-animation: dash 20s infinite alternate;
          animation: dash 20s infinite alternate;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: -200;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: -200;
  }
}

html {
  height: 100vh;
  overflow: hidden;
}

.slick-current .item-container h2 {
  color: white !important;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.wrapper {
  height: 100%;
}

.wrapper .slick-container {
  width: 100%;
  top: 40%;
}

.wrapper .slick-container .slick-item h2 {
  color: #9c9c9c;
  font-size: 4.5rem;
  letter-spacing: 4px;
  text-align: center;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  z-index: 1;
}

.wrapper .slick-container .slick-item:focus {
  outline: none;
}

.wrapper .learn-more {
  z-index: 2;
  width: 100%;
  text-align: center;
  top: 55%;
  position: relative;
}

.wrapper .learn-more .learn-more-btn {
  color: white;
  border: 1.5px solid white;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0px;
  letter-spacing: 0.2rem;
}

.wrapper .footer-links {
  z-index: 1;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 80%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  height: 25%;
  -webkit-box-align: center;
          align-items: center;
  background: rgba(11, 46, 88, 0.8);
  box-shadow: 0 0 50px 50px rgba(11, 46, 88, 0.8);
}

.wrapper .footer-links a {
  text-decoration: none;
}

.wrapper .footer-links i {
  font-size: 1.2rem;
  color: #0e2a58;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  background: white;
  border-radius: 100%;
  margin: 0 0.5rem;
}

.wrapper .footer-links .copyright-text small {
  color: white;
}

#animation-container {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  overflow: hidden;
}

#animation-container #animation {
  position: absolute;
  bottom: 0;
  width: 300px;
  height: 100px;
  background: #f38c00;
}

#clear-animation #animation-container {
  display: inline;
  display: initial;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: hidden;
}

#clear-animation #animation-container #animation {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #f38c00;
}

#revert-animation #animation-container {
  display: inline;
  display: initial;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: hidden;
}

#revert-animation #animation-container #animation {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #f38c00;
}

.logo {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  height: 20%;
  -webkit-box-align: center;
          align-items: center;
}

.home-content {
  display: none;
  z-index: -1000;
}

.content-container {
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 60%;
  margin: 0 auto;
  overflow: auto;
}

@media (max-width: 768px) {
  .content-container {
    width: 95%;
    left: 2.5%;
  }
}

.content-container .close-btn {
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  font-size: 2.5rem;
  color: white;
}

.content-container .content {
  display: none;
  padding: 3rem 2.5rem;
  height: 100%;
  width: 97%;
}

.content-container .content .tabs ul {
  list-style-type: none;
  margin-bottom: 1rem;
  padding: 0;
}

.content-container .content .tabs ul li {
  padding-right: 2rem;
  font-weight: 500;
  font-size: 1rem;
}

.content-container .content .tabs ul a {
  text-decoration: none;
  color: white;
}

.content-container .content .tabs .active {
  color: #fb8400;
}

.content-container .content h2 {
  color: #fb8400;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

.content-container .content p {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
}

.content-container .content .find-out-more-btn {
  padding: 0.6rem 1rem;
  background: transparent;
  border: 1.5px solid white;
  color: white;
  border-radius: 0;
  margin-top: 1.5rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
}

.content-container .content .milestones-content {
  margin-top: 1rem !important;
  padding-right: 1rem !important;
}

.content-container .content .image-container {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.content-container .content .image-container img {
  width: 90%;
}

@media (max-width: 768px) {
  .content-container .content .image-container img {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.content-container .content .event-slider-container {
  width: 90%;
  margin: 0 auto;
}

.content-container .content .event-slider-container .event-slider-item .slider-content {
  width: 80%;
  margin: 0 auto;
}

.content-container .content .event-slider-container .event-slider-item .slider-content small {
  color: white;
  font-size: 1rem;
}

.content-container .content .event-slider-container .event-slider-item .slider-content p {
  font-size: 1.5rem;
  font-weight: 700;
}

.content-container .content .event-slider-container .event-slider-item .slider-content hr {
  height: 2px;
  background-color: white;
}

.content-container .content .event-slider-container .event-slider-item .slider-content .banner-container {
  padding-top: 1rem;
}

.content-container .content .event-slider-container .event-slider-item .slider-content .banner-container p {
  background: #fb8400;
  padding: 5rem 1.5rem;
  width: 70%;
  text-align: center;
}

.content-container .content .event-slider-container .slick-prev {
  top: 15% !important;
  left: -5% !important;
  z-index: 4;
  color: white !important;
  opacity: 1 !important;
}

.content-container .content .event-slider-container .slick-next {
  top: 15% !important;
  right: -5% !important;
  z-index: 4;
  color: white !important;
  opacity: 1 !important;
}

.content-container .content .event-slider-container .slick-next::before {
  color: white;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2rem;
  content: "\f054";
}

.content-container .content .event-slider-container .slick-prev::before {
  color: white;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2rem;
  content: "\f053";
}

.milestone-master-container {
  height: 85%;
}

.milestone-master-container .slider-section {
  width: 100%;
}

.milestone-master-container .slider-section .milestones-container {
  height: 100%;
}

.milestone-master-container .slider-section .milestones-container .slick-list {
  height: 100% !important;
}

.milestone-master-container .slider-section .milestones-container .slick-track {
  height: 100% !important;
}

.milestone-master-container .slider-section .milestones-container .milestones-item {
  position: relative;
}

.milestone-master-container .slider-section .milestones-container .milestones-item img {
  width: 100% !important;
  height: 100% !important;
}

.milestone-master-container .slider-section .milestones-container .milestones-item .text-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}

.milestone-master-container .slider-section .milestones-container .milestones-item .text-overlay .date {
  font-size: 1rem;
  letter-spacing: 0.3rem;
}

.milestone-master-container .slider-section .milestones-container .milestones-item .text-overlay .title {
  width: 70%;
  margin: 0 auto;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
}

.milestone-master-container .slider-section .milestones-container .slick-prev {
  left: 10px !important;
  z-index: 4;
}

.milestone-master-container .slider-section .milestones-container .slick-next {
  right: 10px !important;
  z-index: 4;
  color: white;
}

.milestone-master-container .slider-section .milestones-container .slick-next::before {
  color: white;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2rem;
  content: "\f054";
}

.milestone-master-container .slider-section .milestones-container .slick-prev::before {
  color: white;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2rem;
  content: "\f053";
}

.milestone-master-container .slider-section .milestones-container .slick-dots {
  bottom: 0;
}

.milestone-master-container .slider-section .milestones-container .slick-dots li {
  padding: 0 1rem;
}

.milestone-master-container .slider-section .milestones-container .slick-dots li button::before {
  font-size: 30px;
  color: white;
  content: " ";
  border-top: 7px solid white;
  padding: 0 1rem;
}
